.Title{
    /* Title */
    
    
        position: absolute;
        width: 299px;
        height: 68px;
        left: calc(50% - 299px/2 - 469.5px);
        top: calc(50% - 68px/2 - 562.5px);
    
        /* Heading / Desktop / H2 */
    
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 41px;
        line-height: 160%;
        /* identical to box height, or 67px */
    
        display: flex;
        align-items: center;
    
        /* --c-text */
    
        color: #1D1F22;
}